<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand">UPE@Mizzou</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link">Home</a></li>
          <li class="nav-item"><a class="nav-link">Major Projects</a></li>
          <li class="nav-item"><a class="nav-link">Blog/News</a></li>
          <li class="nav-item"><a class="nav-link">Sponsors/Partners</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
